
/* colors */
:root {
  --color-primary-primary-dark: #0959bb;
  --color-primary-primary-main: #308cfe;
  --color-primary-primary-light: #73b2ff;
}

/* fonts */
:root {        
--typo-primary-font: Roboto;
}
/* text styles*/
.typo-display-1 {
  font-family : var(--typo-primary-font);
  font-size : 95px;
  line-height: 109px;
  letter-spacing : 0.1em;
}
.typo-display-2 {
  font-family : var(--typo-primary-font);
  font-size : 72px;
  line-height: 83px;
  letter-spacing : 0.1em;
}
.typo-h-1 {
  font-family : var(--typo-primary-font);
  font-size : 54px;
  line-height: 63px;
  letter-spacing : 0.1em;
}
.typo-h-2 {
  font-family : var(--typo-primary-font);
  font-size : 40px;
  line-height: 48px;
  letter-spacing : 0.1em;
}
.typo-h-3 {
  font-family : var(--typo-primary-font);
  font-size : 30px;
  line-height: 37px;
  letter-spacing : 0.1em;
}
.typo-h-4 {
  font-family : var(--typo-primary-font);
  font-size : 23px;
  line-height: 29px;
  letter-spacing : 0.1em;
}
.typo-h-5 {
  font-family : var(--typo-primary-font);
  font-size : 17px;
  line-height: 23px;
  letter-spacing : 0.1em;
}
.typo-body {
  font-family : var(--typo-primary-font);
  font-size : 17px;
  line-height: 23px;
  letter-spacing : 0.1em;
}
.typo-small {
  font-family : var(--typo-primary-font);
  font-size : 13px;
  line-height: 18px;
  letter-spacing : 0.1em;
}
.typo-x-small {
  font-family : var(--typo-primary-font);
  font-size : 10px;
  line-height: 15px;
  letter-spacing : 0.1em;
}

/* SpacePatterns */
:root {
  --spacing-none: 0px;
  --spacing-xx-small: 2px;
  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-regular: 16px;
  --spacing-large: 32px;
  --spacing-x-large: 64px;
  --spacing-xx-large: 128px;
}
