@import "output/css/_variables.css";

.footer__column-title h3, a, body .cookiewall__cookiewall .content h2 {
  color:var(--global-primary-primary-main)
}


.btn-outline-primary, .btn-primary,.btn-primary:hover {
  background-color:var(--global-primary-primary-main)
}






.btn-dark, .btn-outline-dark, .btn-dark:hover {
  background-color:var(--global-primary-secondary-main)
}




.text-dark, .text-black, a.text-black:focus, a.text-black:hover, a.text-dark:focus, a.text-dark:hover, .vfz-list--link .vfz-list__link-title {
  color:var(--global-primary-tertiary-main)!important;
}